---
---

@import "{{ site.theme }}";

figure {
  padding: 0px;
  margin: 0px;
}

.post {
  margin-bottom: 40px;
}

code.highlighter-rouge {
  background: #f8f8f8;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  padding: 1px 2px;
}
