<!-- Thank you for the beautiful theme from https://github.com/pages-themes/minimal -->
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="https://give.asia/assets/images/favicon.ico">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <meta content="{{ site.logo | absolute_url }}" property="og:image">
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ "/" | absolute_url }}">
          <img class="logo" src="{{site.logo | relative_url}}" alt="Logo" />
        </a>

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <p>
          <a class="github-button" href="https://github.com/GIVESocialMovement/GIVESocialMovement.github.io" data-size="large" data-show-count="true" aria-label="Star GIVESocialMovement/GIVESocialMovement.github.io on GitHub">Star</a>
        </p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>
          If you have a question or want to have a discussion, please feel free to open an issue on our Github repo. <br/><br/>
          <a class="github-button" href="https://github.com/GIVESocialMovement/GIVESocialMovement.github.io/issues" data-size="large" data-show-count="true" aria-label="Issue GIVESocialMovement/GIVESocialMovement.github.io on GitHub">Issue</a>
        </p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
  </body>
</html>
